extends layout.jade
block content
    h1 Our Catalog
    .row
      .col-md-4
        form(action="/search/:keyword" method ='post' class='form-inline')
          .form-group
            label(for="keyword")
            input(type='text', name='keyword' class='form-control' placeholder = "Name of the Book")
          .form-group
            input(type='submit' class='btn btn-primary' value='Search')
    .row
      .col-md-8
        table.table
          thead
            tr
              th Books
              th Price
          tbody
            each book in books
              tr
                td
                  a(href="/books/#{$index}") #{book.name}
                td Rs. #{book.price}
                td
                  a(href="/books/#{$index}/edit" class="glyphicon glyphicon-edit")
                td
                  a(href="/books/#{$index}/delete" class="glyphicon glyphicon-trash")
